{% extends "base.jinja" %}

{% block content %}
<div class="container mt-5">

    <div class="jumbotron">
        <h1 class="display-6"><i class="fa fa-info-circle" aria-hidden="true"></i> Infos</h1>
        <p class="lead">Wichtiges, Rechtliches & Impressum.</p>
    </div>

    <div class="mb-4">
        <h2>Verwendung</h2>
        <p>Diese Webanwendung ist entstanden um Freunden und Familie die Möglichkeit zu bieten ihre fehlenden und
            doppelten Sticker der Sammelaktion 2023-2024 des <b>KSV<i>(Kevelaerer Sportverein)</i> und Edeka
                Brüggemeier</b> zu tauschen.</p>
        <p>Ich übernehme keinerlei Verantwortung für Fehler oder Datenverlust. Zudem kann ich nicht garantieren, dass
            Informationen (wie z.B. E-Mail-Adressen und Kontaktdaten) von Dritten unerlaubt abgegriffen und
            missbräuchlich verwendet werden.</p>
        <p>Die Benutzung ist vollständig freiwillig und jede Eingabe von Kontaktinformationen liegt in der eigenen
            Verantwortung.</p>
        <p>Aufgrund der Tatsache, dass diese Anwendung auschließlich privat genutzt wird und keine wirtschaftlichen
            Interessen verfolgt (auch keine Werbung) entfällt die Impressumspflicht.</p>

        <div class="card">
            <div class="card-header">
                Impressumspflicht
            </div>
            <div class="card-body">
                <p class="card-text"><i>
                        "Grundsätzlich kann man sagen, dass die Pflicht für alle Anbieter einer Internetseite gilt,
                        wenn die Plattform geschäftlichen Zwecken dient. Damit fallen ausschließlich privat
                        genutzte Seiten, die sich nur an Familie und Freunde richten, nicht unter die
                        Impressumspflicht..."
                    </i></p>
                <a href="https://www.bmuv.de/themen/verbraucherschutz/digitaler-verbraucherschutz/impressumspflicht#c66866"
                    class="btn btn-secondary"
                    title="Bundesministerium für Umwelt, Naturschutz, nukleare Sicherheit und Verbraucherschutz (BMUV)">Quelle:
                    BMUV</a>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <h2>Wie es funktionierts</h2>
        <ol>
            <li>Du registrierst dich <i>(Notwendig um die Speicherung der gesuchten und abzugebenden Sticker zu
                    ermöglichen)</i></li>
            <li>Du entscheidest wie die anderen dich kontaktieren sollen (<a href="/profile">siehe Profil</a>)</li>
            <li>Du markierst Sticker die du noch <a href="/stickers">suchst</a> oder bietest <a
                    href="/wanted">anderen</a> deine Doppelten an.</li>
            <li>Solltest du Sticker als <b>gesucht</b> markiert haben, teile den Link mit Freunden. </li>
            <li>Diese können zu deinen <i>Gesucht</i>-Markierungen ihre <i>Abzugeben</i>-Markierung setzen.</li>
            <li>Solltest du von einer dir unbekannten Person Sticker angeboten bekommen helfen die Kontaktdaten weiter.
            </li>
        </ol>
    </div>

    <div class="mb-4">
        <h2>Datenschutz</h2>
        <p>Diese Applikation ist ausschließlich für Freunde und Familie implementiert und verfolgt kein kommerziellen
            Ziele
            oder Ähnliches. Es wird keine Auswertung von personenbezogenen Daten oder Nutzungsverhalten vorgenommen.</p>

        <h4>Spielernamen</h4>
        <p>
            Ich nehme Datenschutz sehr ernst und habe abgewogen ob die Auflistung aller Namen aus dem Stickeralbum
            übernehme kann.<br />
            Hätte es bevorzugt wenn jedem Sticker eine eindeutige Nummer oder ID zugewiesen wäre, da dies leider nicht
            der Fall ist bleiben nur die vollen Namen.
            Sollte jemand nicht wollen, dass der eigene Name oder der Name eine Kindes hier in dem Auftritt genannt ist.
            Gerne melden, ich entferne diese umgehend.
        </p>

        <h4>Geschützte Registrierung und Login</h4>
        <p>
            Sowohl die Registrierung als auch der Login ist mit der aktuellsten Version von <a
                href="https://developers.google.com/recaptcha?hl=de">reCAPTCHA v3</a> gesichert um den Login durch Bots
            zu erschweren.
        </p>

        <h4>Benutzerprofile</h4>
        <p>
            Die Eingabe jeglicher Daten ist freiweilig. Es werden keine Daten validiert oder ausgewertet.
            Passwörter sind per <a href="https://de.wikipedia.org/wiki/Bcrypt">Bcrypt</a> Hash Algorithmus verschlüsselt
            und auch für den Admin nicht einsehbar.
            Dennoch wird davon abgeraten Passwörter zwischen Diensten wiederzuverwenden!
        </p>

        <h4>E-Mails</h4>
        <p>
            Bis auf Weiteres ist es <b><u>nicht</u></b> vorgesehen, dass dieser Service E-Mails versendet. Vergessene
            Passwörter sind und bleiben vergessen.
            In einem solchen Fall kontaktiert mich direkt und wir überlegen was wir machen können.
        </p>

        <h4>Session Cookies</h4>
        <p>
            Es wird ausschließlich ein Cookie für die aktuelle Session verwendet, welcher Serverseitig die Identität
            (den Login) eines Benutzers behält.
            Damit ist es erst möglich, dass man nicht bei jedem Besuch der Seite sich wieder neu anmelden muss.
        </p>

        <div class="card">
            <div class="card-header">
                Session Cookies & DSGVO
            </div>
            <div class="card-body">
                <h4>Stand: 14. August 2023</h4>
                <p class="card-text"><i>
                        "...Session Cookies und ihre Nutzung müssen in der Regel <strong>bei Besuch einer Seite weiterhin
                        nicht erbeten</strong> werden. Sie können automatisch <strong>im Hintergrund laufen</strong> und fallen nicht
                        unter die Opt-In-Regel, nach der eine Zustimmung des Users notwendig wäre. Trotzdem
                        sollten Session Cookies in der Datenschutzerklärung angegeben werden."
                    </i></p>
                <a href="https://www.datenschutz.org/session-cookie/" class="btn btn-secondary"
                    title="datenschutz.org">Quelle: datenschutz.org</a>
            </div>
        </div>

    </div>

    <div class="mb-4">
        <h2>Quellcode</h2>
        <p>Der Sourcecode für diese Applikation ist frei zugänglich. <a
                href="https://github.com/zapdaniels/stickerapp">https://github.com/zapdaniels/stickerapp</a></p>
        <p>Auch wenn ich nicht damit rechne, dass sich jemand für dem Code interessiert.<br />
            Gerne nehme ich Ideen oder Verbesserungsvorschläge und auch Pull-Requests an 😉.
        </p>
    </div>

    <div class="mb-4">
        <h2>Verantwortlich für den Inhalt</h2>
        <p>
            Sebastian Daniels<br />
            47623 Kevelaer<br />
            E-Mail: sebastiandaniels (at) gmx.de
        </p>
    </div>


</div>
{% endblock content %}