<span id="offer-value-{{sw.id}}"
      class="badge badge-info {{'offer-active' if sw.get_offers(selected_user or None) else 'offer-inactive'}}">
      {{sw.get_offers(selected_user or None)|length}}
</span>