{% extends "base.html" %}

{% block content %}
{% if selected_user %}
<div class="container mt-4">
    <h2><i class="fas fa-tasks"></i> Angebotene Sticker</h2>
    <p>Von: <i>{{selected_user}}</i></p>
    <div class="container">
        <p class="alert alert-primary">
            Folgende Sticker werden dir angeboten.<br />
            Du kannst die markierung aufheben wenn du die Sticker nicht mehr benötigst.
        </p>
    </div>
    {% include 'stickers_offered_table.html' %}
</div>
{% endif %}
{% endblock content %}