
<table class="table table-striped">
    <thead>
        <tr>
            <th>Team</th>
            <th>Sticker</th>
            {% if checkbox and user %}
            <th>Suche Ich</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for sticker in stickers %}
        <tr>
            <td>{{ sticker.team.name }}</td>
            <td>{{ sticker.name }}</td>
            {% if checkbox and user %}
            <td>
                <label class="switch">
                    <input type="checkbox"
                        hx-trigger="change"
                        hx-put="/toggle"
                        hx-vals="js:{sticker_id: {{ sticker.id }}, is_checked: event.srcElement.checked, user_id: {{ user.id if user else 0 }}}"
                        checked
                        >
                    <span class="slider round"></span>
                </label>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>