<table class="table table-striped">
    <thead>
        <tr>
            <th>Team/Sticker</th>
            {% if checkbox_offer and login_user %}
            <th>Angebote</th>
            <th>
                {% if login_user.id != user_asking.id %}
                Abzugeben
                {% endif %}
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for team, stickers in stickers_by_teams.items() %}
        <tr>
            <td colspan="3" class="team-name">{{ team.name }}</td>
        </tr>
        {% for sticker in stickers %}
        <tr>
            <td>{{ sticker.name }}</td>
            {% set sw = sticker_wanted_by_sticker_ids[sticker.id] %}
            <td>
                {% include 'stickers_offered_badge.jinja' %}
            </td>
            <td>
                {% if (login_user.id != user_asking.id) %}
                <label class="switch">
                    <input type="checkbox" hx-trigger="change" hx-put="/toggle/offer"
                        hx-vals="js:{sticker_wanted_id: {{ sw.id }}, is_checked: event.srcElement.checked, user_id: {{ login_user.id if login_user else 0 }}}"
                        hx-target="#offer-value-{{sw.id}}" hx-swap="outerHTML" {{"checked" if sticker.id in
                        sticker_wanted_by_offered_ids}}>
                    <span class="slider round green"></span>
                </label>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>