{% extends "base.jinja" %}

{% block content %}
<div class="container mt-4">
    <h2><i class="fas fa-search"></i> Gesucht</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>E-Mail</th>
                <th>Gesucht</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user }}</td>
                <td><a class="btn btn-primary" href="/wanted/{{ user.id }}">{{user.sticker_wanted|length}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}